* {
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

body {
    font-family: "Arial", "Helvetic Neue", "Helvatica", sans-serif;
    color: #777777;
}

.top {
    background-color: #ffffff;
    border-bottom: solid 3px #cccccc;
    overflow: auto;
}

#header{
    background-color: #4aaaa5;
    color: white;
    float: left;
    width: 10%;
    margin-left: 473px;
}

#about{
    float: left;
    width: 5%;
    margin-left: 515px;
    position: relative;
    top: 20px;
    border-right: solid 1px #cccccc;
}

#portfolio {
    float: left;
    width: 5%;
    position: relative;
    top: 20px;
    border-right: solid 1px #cccccc;

}

#contact {
    float: left;
    width: 5%;
    position: relative;
    top: 20px;
}

.bottom {
    background-image: url("../images/image2.png");
    overflow: auto;
    height: 540px;
}

#contentbox {
    background-color: #ffffff;
    width: 960px;
    height: 410px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 30px;
    margin: auto;
    border: solid 1px #dddddd;
}

#about-me {
    color: #4aaaa5;
    border-bottom: solid 3px #cccccc;
    padding-top: 10px;
    text-align: left;
}

#my-image {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    float: left;
}

#p {
    padding-top: 10px;
    margin-left: 10px;
    text-align: left;
}

#footer {
    background-color: #666666;
    color: #ffffff;
    height: 60px;
    border-top: solid 5px #4aaaa5;
    line-height: 82px;
    font-size: 12px;
}