* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

body {
    font-family: "Arial", "Helvetic Neue", "Helvatica", sans-serif;
    color: #777777;
}

.top {
    background-color: #ffffff;
    border-bottom: solid 3px #cccccc;
    max-width: 100%;
    height:68px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#header{
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    height: auto;
    width: 150px;
    line-height: 68px;
    margin-left: 25%;
    margin-right: 35%;
    order: -1;
}

#about{
    /* max-width: 100%; */
    /* margin-left: 45.7%; */
    line-height: 2px;
    position: absolute;
    left: 20%;
    top: 3%;
    padding: 10px;
    border-right: solid 1px #cccccc;
    order: 0;
    float: left;
}

#portfolio {
    max-width: 100%;
    margin-left: 49%;
    line-height: 2px;
    position: absolute;
    left: 20%;
    top: 3%;
    padding: 10px;
    border-right: solid 1px #cccccc;
    /* order: 1; */
    float: left;
}

#contact {
    max-width: 100%;
    margin-left: 53.1%;
    line-height: 2px;
    position: absolute;
    left: 20%;
    top: 3%;
    padding: 10px;
    border-right: solid 1px #cccccc;
    order: 2;
}

.bottom {
    background-image: url("../images/image2.png");
    height: 540px;
    margin: auto;
}

#contentbox {
    background-color: #ffffff;
    max-width: 898px;
    height: 370px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 50px;
    margin-left: 25%;
    border: solid 1px #dddddd;
}

#about-me {
    color: #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 3px #cccccc;
    text-align: left;
}

#my-image {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    float: left;
}

#p {
    padding-top: 20px;
    margin-left:220px;
    text-align: left;
}

#footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    height: 60px;
    border-top: solid 5px #4aaaa5;
    line-height: 84px;
    font-size: 12px;
}

@media screen and (max-width: 699px) {    
    .bottom {
        width: 100%;
    }

    #contentbox {
        width: 50%;
        margin: auto;
    }
}