* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

body {
    font-family: "Arial", "Helvetic Neue", "Helvatica", sans-serif;
    color: #777777;
}

.top {
    background-color: #ffffff;
    border-bottom: solid 3px #cccccc;
    width: 100%;
    height:68px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #4aaaa5;
    color: white;
    height: 68px;
    line-height: 68px;
    float: left;
    width: 150px;
    margin-left: 278px;
}

#about{
    float: left;
    width: 5%;
    margin-left: 40%;
    position: relative;
    top: 30%;
    border-right: solid 1px #cccccc;
}

#portfolio {
    float: left;
    width: 5%;
    position: relative;
    top: 30%;
    border-right: solid 1px #cccccc;

}

#contact {
    float: left;
    width: 5%;
    position: relative;
    top: 30%;
}

.bottom {
    background-image: url("../images/image2.png");
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

#contentbox {
    background-color: #ffffff;
    width: 898px;
    height: 370px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #dddddd;
}

#about-me {
    color: #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 3px #cccccc;
    text-align: left;
}

#my-image {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    float: left;
}

#p {
    padding-top: 20px;
    margin-left:220px;
    text-align: left;
}

#footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    height: 60px;
    border-top: solid 5px #4aaaa5;
    line-height: 84px;
    font-size: 12px;
}